<table class="table table-bordered">
    <thead>
        <tr>
            <th>Person # : </th>
            <td>{{person.id}}</td>
        </tr>
        <tr>
            <th>Name : </th>
            <td>{{person.name}}</td>
        </tr>
        <tr>
            <th>City : </th>
            <td>{{person.city}}</td>
        </tr>
        <tr>
            <th>Mobile No : </th>
            <td>{{person.mobileNo}}</td>
        </tr>
        <tr>
            <th>Email : </th>
            <td>{{person.email}}</td>
        </tr>
        <tr>
            <th>Created At : </th>
            <td>{{person.createdAt |date : 'dd/MM/yyy hh:mm:ss'}}</td>
        </tr>
        <tr>
            <th>Updated At : </th>
            <td>{{person.updatedAt |date : 'dd/MM/yyy hh:mm:ss'}}</td>
        </tr>
    </thead>
</table>
<button class="btn btn-info" (click)="back()">Back</button>